atomicwrites==1.4.0  # dependencies
attrs==19.3.0  # dependencies
colorama==0.4.3  # dependencies
more-itertools==8.4.0  # dependencies
packaging==20.4  # dependencies
pluggy==0.13.1  # dependencies
py==1.10.0  # dependencies
pyparsing==2.4.7  # dependencies
pytest==5.4.3
selenium==3.141.0
six==1.15.0  # dependencies
urllib3==1.25.9  # dependencies
wcwidth==0.2.5  # dependencies